$body-color: #343539;
;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-color;
    font-family: Helvetica;
}

.header__title {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
}

.form__block-number {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
}